<app-header></app-header>
<section class="openings-section">
  <h2>Current Openings</h2>

  <div class="job-card">
    <h3>Position Title: Full Stack Developer Internship</h3>
    <p><strong>Location:</strong> Kothrud, Pune (Work from office)</p>
    <p><strong>Duration:</strong> 6 months (Paid)</p>

    <h4>Position Overview:</h4>
    <p>
      As a full stack developer intern, you will work closely with our development team
      to assist in building the web applications and troubleshooting issues. This internship
      offers a fantastic opportunity to gain valuable experience in programming and software
      development processes on live projects.
    </p>

    <h4>Responsibilities:</h4>
    <ul>
      <li>Collaborate with the development team to design, develop, and implement web applications.</li>
      <li>Write clean, scalable, and efficient code for assigned tasks.</li>
      <li>Work with technologies like Java Spring Boot, Angular 18, and MySQL 8.</li>
    </ul>

    <h4>Requirements:</h4>
    <ul>
      <li>Bachelor’s degree in Computer Science, IT, or Software Engineering.</li>
      <li>Proficiency in Java, Spring Boot, Bootstrap, JavaScript, Angular 17/18, and MySQL.</li>
      <li>Understanding of data structures, algorithms, and software engineering principles.</li>
      <li>Familiarity with Git or other version control systems is a plus.</li>
      <li>Strong analytical and problem-solving skills.</li>
      <li>Ability to work independently and as part of a team.</li>
      <li>Passion for technology and willingness to learn and grow.</li>
    </ul>

    <div class="apply-btn">
      <a href="apply-page" target="_blank">Apply Now</a>
    </div>
  </div>
</section>
<footer></footer>
