<app-header></app-header>
<div class="services-section">
  <div class="services-header">
    <h2></h2>
  </div>

  <div class="services-container">
    <div class="service-card">
      <div class="icon">
        <i class="fas fa-globe"></i>
      </div>
      <h3>Web Application Development</h3>
      <p>
        Our Web Apps design and development services include Requirements Analysis, Designing,
        Testing, Deployment, and Maintenance of apps in Cloud hosted environments.
        Our core skills are in Java Spring Boot, Angular, React, MySQL technology stack.
      </p>
    </div>

    <div class="service-card">
      <div class="icon">
        <i class="fas fa-mobile-alt"></i>
      </div>
      <h3>Mobile Apps Development</h3>
      <p>
        Our Mobile Apps design and development services include Android, iOS Swift, IONIC
        technologies for building your customized mobile applications.
      </p>
    </div>

    <div class="service-card">
      <div class="icon">
        <i class="fas fa-laptop"></i>
      </div>
      <h3>Independent Testing</h3>
      <p>
        Our Independent Testing services include Test Planning, Test Cases design,
        Execution, Performance Testing, and Test Automation framework development to
        reduce regression test efforts.
      </p>
    </div>
  </div>
</div>
<app-footer></app-footer>
