<footer>
  <div class="footer-container">
    <div class="footer-section about">
      <h2>About Me</h2>
      <p>A passionate Java Full-Stack Developer with expertise in Angular, Spring Boot, and MySQL. Building scalable web applications and interactive user experiences.</p>
    </div>

    <div class="footer-section contact">
      <h2>Contact</h2>
      <p><i class="fas fa-envelope"></i>
        <a href="mailto:rohan.patil0226@gmail.com">  rohan.patil0226@gmail.com</a>
      </p>
      <p><i class="fas fa-phone"></i>  +91 7666267290</p>
      <a href="https://maps.app.goo.gl/wzycLUdMqCL3to8u9"><i class="fas fa-map-marker-alt" ></i>  Kolhapur,Maharashtra,India</a>
    </div>

    <div class="footer-section links">
      <h2>Quick Links</h2>
      <ul>
        <li><a href="#">Projects</a></li>
        <li><a href="#">Skills</a></li>
      </ul>
    </div>

    <div class="footer-section social">
      <h2>Follow Me</h2><br>
      <a href="https://www.linkedin.com/in/rohan-patil-ab3249311/" target="_blank"><i class="fab fa-linkedin"></i></a>
      <a href="https://github.com/rohan-patil11" target="_blank"><i class="fab fa-github"></i></a>
    </div>
  </div>

  <div class="footer-bottom">
    <p>Designed & Developed by <b>Rohan Patil</b> | &copy; 2025 All rights reserved.</p>
  </div>
</footer>

