<app-header></app-header>
<section class="about-section">
  <h2>ABOUT US</h2>
  <p><strong>SoftTestLab</strong> was started in 2012. We focus on providing Software Product Engineering Services and Independent Testing Services to our customers.</p>

  <p>We contribute to client’s product ideas with our expertise and experience in</p>
  <ul>
    <li><strong>System Architecture design and development skills in technologies like Java Spring boot, JavaScript, Angular, React, Android, iOS SWIFT, and Flutter.</strong></li>
    <li><strong>UI/UX Design</strong></li>
    <li><strong>Testing and Test Automation</strong></li>
  </ul>

  <p>As a part of our <strong>Independent Testing Services</strong> we provide <strong>Test Planning, Strategy and Implementation, Test Automation, and Performance Testing.</strong> SoftTestLab has been catering to clients from different domains from USA, Canada, and India with an excellent track record.</p>

  <p>We have helped our customers from visualization of their product ideas to design, develop, test and take it live. We have worked with our clients in various domains like, Sales Management, Hotel Events Management, Digital Funeral Home Registry, Transport Industry, Healthcare etc. to name a few. We have also helped our clients with our independent testing services to test their products/platforms to ensure defect free production environments for the end users.</p>
</section>
<app-footer></app-footer>
